<menu>
    <menuitem label='Home'>
        <icon>fa:home fa-fw</icon>
        <menu>
            <menuitem label='Início'>
                <icon>fa:life-ring fa-fw</icon>
                <action>WelcomeView</action>
            </menuitem>
            
            <menuitem label='Aprenda'>
                <icon>fa:book fa-fw</icon>
                <action>LearnView</action>
            </menuitem>
            
            <menuitem label='Template'>
                <icon>fa:desktop fa-fw</icon>
                <action>TemplateView</action>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Basico'>
        <icon>fa:cube fa-fw</icon>
        <menu>
            <menuitem label='Teste'>
                <icon>fa:life-ring fa-fw</icon>
                <action>TesteView</action>
            </menuitem>

            <menuitem label='Template Básico'>
                <icon>fa:life-ring fa-fw</icon>
                <action>TemplateViewBasico</action>
            </menuitem>

            <menuitem label='Template com máscaras'>
                <icon>fa:life-ring fa-fw</icon>
                <action>TemplateViewMask</action>
            </menuitem>

            <menuitem label='Template com repetição/loop'>
                <icon>fa:life-ring fa-fw</icon>
                <action>TemplateViewRepeat</action>
            </menuitem>

            <menuitem label='Página Simples'>
                <icon>fa:life-ring fa-fw</icon>
                <action>SinglePageView</action>
            </menuitem>

            <menuitem label='Janela Simples'>
                <icon>fa:life-ring fa-fw</icon>
                <action>SingleWindowView</action>
            </menuitem>

            <menuitem label='Janela sob demand'>
                <icon>fa:life-ring fa-fw</icon>
                <action>OnDemandWindowView</action>
            </menuitem>

            <menuitem label='Janela de modal'>
                <icon>fa:life-ring fa-fw</icon>
                <action>ModalWindowView</action>
            </menuitem>

            <menuitem label='Janela lateral'>
                <icon>fa:life-ring fa-fw</icon>
                <action>SidePageView</action>
            </menuitem>

            <menuitem label='PDF Embarcado'>
                <icon>fa:life-ring fa-fw</icon>
                <action>EmbeddedPDFView</action>
            </menuitem>

            <menuitem label='Vídeo Embarcado'>
                <icon>fa:life-ring fa-fw</icon>
                <action>EmbeddedVideoView</action>
            </menuitem>

            <menuitem label='Sistema Embarcado'>
                <icon>fa:life-ring fa-fw</icon>
                <action>EmbeddedSistemaView</action>
            </menuitem>

            <menuitem label='Tabelas'>
                <icon>fa:life-ring fa-fw</icon>
                <action>TableView</action>
            </menuitem>

            <menuitem label='Painel Group'>
                <icon>fa:life-ring fa-fw</icon>
                <action>PanelGroupView</action>
            </menuitem>

            <menuitem label='Página de rolagem/scroll'>
                <icon>fa:life-ring fa-fw</icon>
                <action>ScrollView</action>
            </menuitem>

            <menuitem label='Página de notabook/abas'>
                <icon>fa:life-ring fa-fw</icon>
                <action>NotebookView</action>
            </menuitem>

            <menuitem label='Página de Vbox'>
                <icon>fa:life-ring fa-fw</icon>
                <action>VBoxView</action>
            </menuitem>

            <menuitem label='Página de pergunta'>
                <icon>fa:life-ring fa-fw</icon>
                <action>QuestionView</action>
            </menuitem>

        <menuitem label='Página de dialogo de input'>
                <icon>fa:life-ring fa-fw</icon>
                <action>DialogInputView</action>
            </menuitem>
        </menu>
        
    </menuitem>

    <menuitem label='Banco de dados'>
        <icon>fa:cube fa-fw</icon>
        <menu>
            <menuitem label='Conexão Manual'>
                <icon>fa:cube fa-fw</icon>
                <action>ConexaoManual</action>
            </menuitem>

            <menuitem label='Conexão Prepare'>
                <icon>fa:cube fa-fw</icon>
                <action>ConexaoPrepare</action>
            </menuitem>

            
            <menuitem label='Objeto Store'>
                <icon>fa:cube fa-fw</icon>
                <action>ObjectStore</action>
            </menuitem>

            <menuitem label='Objeto Create'>
                <icon>fa:cube fa-fw</icon>
                <action>ObjectCreate</action>
            </menuitem>

            <menuitem label='Objeto Load'>
                <icon>fa:cube fa-fw</icon>
                <action>ObjectLoad</action>
            </menuitem>

            <menuitem label='Objeto Find'>
                <icon>fa:cube fa-fw</icon>
                <action>ObjectFind</action>
            </menuitem>

            <menuitem label='Objeto Update'>
                <icon>fa:cube fa-fw</icon>
                <action>ObjectUpdate</action>
            </menuitem>
            
            
            <menuitem label='Objeto Delete'>
                <icon>fa:cube fa-fw</icon>
                <action>ObjectDelete</action>
            </menuitem>

        </menu>
    </menuitem>

    <menuitem label='Configuração'>
        <icon>fa:cog fa-fw</icon>
        <menu>
            <menuitem label='Ver módulos'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemModulesCheckView</action>
            </menuitem>
            
            <menuitem label='Setup PHP'>
                <icon>fa:code fa-fw</icon>
                <action>SystemPHPInfoView</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>
